<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>执行任务</title>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-layout1-header">
            <nav class="">
                <div style="overflow:hidden; z-index: inherit;" class="navbar king-horizontal-nav1  f14">
                    <div class="navbar-container">
                        <ul class="nav navbar-nav pull-left m0">
                            <li class="active"><a href="javascript:void(0);">执行任务</a></li>
                            <li><a href="{{ SITE_URL }}mission-record/">任务记录</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="king-layout2-main mt15" style="width:960px;">
            <form class="form-vertical p15">
                <div class="form-group ">
                    <label>选择业务：</label>
                    <select class="form-control" id="choose_business">
                        {% for item in business_data %}
                            <option value="{{item.bk_biz_name}}">{{ item.bk_biz_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <form class="form-vertical p15">
                <div class="form-group ">
                    <label>选择脚本：</label>
                    <select class="form-control">
                        {% for item in script_data %}
                            <option value="{{item.name}}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <HR SIZE=5>
            <form class="form-horizontal">
                <div class="form-group clearfix">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="button" class="king-btn mr10 king-success">执行</button>
                    </div>
                </div>
                <HR SIZE=5>
                <table class="bk-table has-table-bordered bk-demo">
                    <thead>
                        <tr>
                            <th>IP</th>
                            <th>操作系统</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="host_info_list">
                        {% for host_item in host_data %}
                            <tr>
                                <td style="width: 40%;">{{ host_item.host.bk_host_innerip }}</td>
                                <td style="width: 40%;">{{ host_item.host.bk_os_name }}</td>
                                <td style="width: 20%">
                                    <a href="javascript:void(0);" class="bk-text-button">待定</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <script src="../../../static/js/jquery.min.js"></script>
    <script src="../../../static/js/handler.js"></script>
</body>
</html>