<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>任务记录</title>
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <!-- 日期选择器样式 -->
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-layout1-header">
            <nav class="">
                <div style="overflow:hidden; z-index: inherit;" class="navbar king-horizontal-nav1  f14">
                    <div class="navbar-container">
                        <ul class="nav navbar-nav pull-left m0">
                            <li><a href="{{ SITE_URL }}execute-mission/">执行任务</a></li>
                            <li class="active"><a href="javascript:void(0);">任务记录</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="king-layout2-main mt15" style="width:960px;">
            <form class="form-vertical p15">
                <div class="form-group ">
                    <label>业务</label>
                    <select class="form-control">
                        <option value="选择项1">选择项1</option>
                        <option value="选择项2">选择项2</option>
                        <option value="选择项3">选择项3</option>
                        <option value="选择项4">选择项4</option>
                    </select>
                </div>
            </form>
            <form class="form-vertical p15">
                <div class="form-group ">
                    <label>用户</label>
                    <select class="form-control">
                        <option value="选择项1">选择项1</option>
                        <option value="选择项2">选择项2</option>
                        <option value="选择项3">选择项3</option>
                        <option value="选择项4">选择项4</option>
                    </select>
                </div>
            </form>
            <form class="form-vertical p15">
                <div class="form-group ">
                    <label>任务</label>
                    <select class="form-control">
                        <option value="选择项1">选择项1</option>
                        <option value="选择项2">选择项2</option>
                        <option value="选择项3">选择项3</option>
                        <option value="选择项4">选择项4</option>
                    </select>
                </div>
            </form>
            <div class="form-group clearfix">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="button" class="king-btn mr10  king-success">提交</button>
                </div>
            </div>
            <HR SIZE=5>
                <p>日期：<input type="text" id="datepicker"></p>
            <HR SIZE=5>
            <form class="form-horizontal">
                <table class="table mb0 pr15 ranger-box2  ">
                    <thead>
                        <tr>
                            <th style="width: 12.5%;">业务</th>
                            <th style="width: 12.5%;">用户</th>
                            <th style="width: 12.5%;">任务</th>
                            <th style="width: 12.5%;">操作时间</th>
                            <th style="width: 12.5%;">机器数</th>
                            <th style="width: 12.5%;">状态</th>
                            <th style="width: 12.5%;">参数</th>
                            <th style="width: 12.5%;">详情</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 12.5%;">业务数据</td>
                            <td style="width: 12.5%;">用户数据</td>
                            <td style="width: 12.5%;">任务数据</td>
                            <td style="width: 12.5%;">操作时间数据</td>
                            <td style="width: 12.5%;">机器数数据</td>
                            <td style="width: 12.5%;">状态数据</td>
                            <td style="width: 12.5%;">参数数据</td>
                            <td style="width: 12.5%;">详情数据</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script>
        $(function() {
            $( "#datepicker" ).datepicker()
        })
    </script>
</body>

</html>